.top-slider {
  background-color: #feeae9;
}
.custom-color {
  color: #ff136f;
}
.custom-btn {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
.categories img {
  width: 100px;
}
#watch {
  background: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
}
#bag {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
#categories-shoes {
  background: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
}
a.see-all {
  color: #ff9d00;
}
#subscribe {
  height: 350px;
  background-color: #fff2f1;
}
